<h1>Angular</h1>

<div class="mt-4">
  <p-card header="Motivace">
    <div *ngFor="let motivation of motivations" class="mt-2">
      <p-panel [header]="motivation.title" [toggleable]="true" [collapsed]="motivation.close">
        <p>
          {{motivation.content}}
        </p>
      </p-panel>
    </div>
  </p-card>
</div>

<div class="mt-4 flex flex-wrap justify-content-center">
  <p-card class="m-2" *ngFor="let lessonCard of lessonCardItem" header="{{lessonCard.title}}"
    [style]="{ width: '200px', height: '350px' }">
    <ng-template pTemplate="header">
      <div>
        <img class="m-2 flex-wrap justify-content-center" [style]="{ width: '180px', height: '180px' }" alt="Card"
          src="{{lessonCard.img}}" />
      </div>
      <div class="card flex justify-content-center">
        <p-rating [(ngModel)]="value" [readonly]="true" [cancel]="false"></p-rating>
      </div>
    </ng-template>
  </p-card>
</div>