<div class="my-3">
  <p-card header="{{(bitcoinInfo$ | async)?.chartName}}">

    <div class="col flex flex-wrap align-items-center justify-content-center">
      <p-card class="m-2" header="{{(bitcoinInfo$ | async)?.chartName}}"
        subheader="{{(bitcoinInfo$ | async)?.time?.updated}}" [style]="{ width: '360px' }">
        <p>
          {{(bitcoinInfo$ | async)?.disclaimer}}
        </p>
        <ng-template pTemplate="footer">
          <p>
            {{(bitcoinInfo$ | async)?.bpi?.EUR?.rate}} {{(bitcoinInfo$ | async)?.bpi?.EUR?.code}}
          </p>
          <p>
            {{(bitcoinInfo$ | async)?.bpi?.USD?.rate}} {{(bitcoinInfo$ | async)?.bpi?.USD?.code}}
          </p>
          <p>
            {{(bitcoinInfo$ | async)?.bpi?.GBP?.rate}} {{(bitcoinInfo$ | async)?.bpi?.GBP?.code}}
          </p>
        </ng-template>
      </p-card>

      <p-card class="m-2" header="{{(bitcoinInfo$ | async)?.chartName}}"
        subheader="{{(bitcoinInfo$ | async)?.time?.updated}}" [style]="{ width: '360px' }">
        <p>
          {{(bitcoinInfo$ | async)?.disclaimer}}
        </p>
        <ng-template pTemplate="footer">
          <p>
            {{(bitcoinInfo$ | async)?.bpi?.EUR?.rate}} {{(bitcoinInfo$ | async)?.bpi?.EUR?.code}}
          </p>
          <p>
            {{(bitcoinInfo$ | async)?.bpi?.USD?.rate}} {{(bitcoinInfo$ | async)?.bpi?.USD?.code}}
          </p>
          <p>
            {{(bitcoinInfo$ | async)?.bpi?.GBP?.rate}} {{(bitcoinInfo$ | async)?.bpi?.GBP?.code}}
          </p>
        </ng-template>
      </p-card>


      <p-card class="m-2" header="{{(bitcoinInfo$ | async)?.chartName}}"
        subheader="{{(bitcoinInfo$ | async)?.time?.updated}}" [style]="{ width: '360px' }">
        <p>
          {{(bitcoinInfo$ | async)?.disclaimer}}
        </p>
        <ng-template pTemplate="footer">
          <p>
            {{(bitcoinInfo$ | async)?.bpi?.EUR?.rate}} {{(bitcoinInfo$ | async)?.bpi?.EUR?.code}}
          </p>
          <p>
            {{(bitcoinInfo$ | async)?.bpi?.USD?.rate}} {{(bitcoinInfo$ | async)?.bpi?.USD?.code}}
          </p>
          <p>
            {{(bitcoinInfo$ | async)?.bpi?.GBP?.rate}} {{(bitcoinInfo$ | async)?.bpi?.GBP?.code}}
          </p>
        </ng-template>
      </p-card>
    </div>
  </p-card>
</div>