<div class="my-3">
  <div class="surface-section px-4 py-8 md:px-6 lg:px-8">
    <div class="text-700 text-center">
      <div class="text-blue-600 font-bold mb-3"><i class="pi pi-discord"></i>&nbsp;POWERED BY DISCORD</div>
      <div class="text-900 font-bold text-5xl mb-3">Join Our Design Community</div>
      <div class="text-700 text-2xl mb-5">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit numquam
        eligendi quos.</div>
      <button pButton pRipple label="Join Now" icon="pi pi-discord"
        class="font-bold px-5 py-3 p-button-raised p-button-rounded white-space-nowrap"></button>
    </div>
  </div>
  <p-card header="{{(bitcoinInfo$ | async)?.chartName}}">

    <div class="col flex flex-wrap align-items-center justify-content-center">
      <p-card class="m-2" header="{{(bitcoinInfo$ | async)?.chartName}}"
        subheader="{{(bitcoinInfo$ | async)?.time?.updated}}" [style]="{ width: '360px' }">
        <p>
          {{(bitcoinInfo$ | async)?.disclaimer}}
        </p>
        <ng-template pTemplate="footer">
          <p>
            {{(bitcoinInfo$ | async)?.bpi?.EUR?.rate}} {{(bitcoinInfo$ | async)?.bpi?.EUR?.code}}
          </p>
          <p>
            {{(bitcoinInfo$ | async)?.bpi?.USD?.rate}} {{(bitcoinInfo$ | async)?.bpi?.USD?.code}}
          </p>
          <p>
            {{(bitcoinInfo$ | async)?.bpi?.GBP?.rate}} {{(bitcoinInfo$ | async)?.bpi?.GBP?.code}}
          </p>
        </ng-template>
      </p-card>

      <p-card class="m-2" header="{{(bitcoinInfo$ | async)?.chartName}}"
        subheader="{{(bitcoinInfo$ | async)?.time?.updated}}" [style]="{ width: '360px' }">
        <p>
          {{(bitcoinInfo$ | async)?.disclaimer}}
        </p>
        <ng-template pTemplate="footer">
          <p>
            {{(bitcoinInfo$ | async)?.bpi?.EUR?.rate}} {{(bitcoinInfo$ | async)?.bpi?.EUR?.code}}
          </p>
          <p>
            {{(bitcoinInfo$ | async)?.bpi?.USD?.rate}} {{(bitcoinInfo$ | async)?.bpi?.USD?.code}}
          </p>
          <p>
            {{(bitcoinInfo$ | async)?.bpi?.GBP?.rate}} {{(bitcoinInfo$ | async)?.bpi?.GBP?.code}}
          </p>
        </ng-template>
      </p-card>


      <p-card class="m-2" header="{{(bitcoinInfo$ | async)?.chartName}}"
        subheader="{{(bitcoinInfo$ | async)?.time?.updated}}" [style]="{ width: '360px' }">
        <p>
          {{(bitcoinInfo$ | async)?.disclaimer}}
        </p>
        <ng-template pTemplate="footer">
          <p>
            {{(bitcoinInfo$ | async)?.bpi?.EUR?.rate}} {{(bitcoinInfo$ | async)?.bpi?.EUR?.code}}
          </p>
          <p>
            {{(bitcoinInfo$ | async)?.bpi?.USD?.rate}} {{(bitcoinInfo$ | async)?.bpi?.USD?.code}}
          </p>
          <p>
            {{(bitcoinInfo$ | async)?.bpi?.GBP?.rate}} {{(bitcoinInfo$ | async)?.bpi?.GBP?.code}}
          </p>
        </ng-template>
      </p-card>
    </div>
  </p-card>
</div>