<div class="card">
  <div class="dock-window">
    <div href="/" class="surface-section px-4 py-8 md:px-6 lg:px-8 transparent-background">
      <div class="text-700 mt-6 text-center md:text-left fadeinleft animation-duration-500 animation-iteration-1">
        <div class="text-900 font-bold text-5xl mb-6">
          Objevuj
          s námi svět webových aplikací</div>
        <div class="text-blue-600 font-bold mb-3"><i class="pi pi-discord"></i>&nbsp;POWERED BY ANGULAR</div>

        <div class="text-700 text-2xl mb-3 hidden md:block">
          Uvažuješ o změně kariéry a chceš vědět jak fungují webové aplikace?
        </div>
        <div class="text-700 text-2xl mb-3 hidden md:block">
          Dostal jsi skvělý nápad na appku a chceš vědět jak ji vytvořit?
        </div>

        <div class="text-700 text-2xl mb-6 hidden md:block">
          Pokud je odpověď ano, pak jsi tady správně
        </div>
        <button pButton pRipple label="{{ 'BUTTON_TITLE' | transloco }}"
          class="font-bold px-5 py-3 p-button-raised p-button-rounded white-space-nowrap">
        </button>
      </div>
    </div>
  </div>
</div>
