<div class="card">
  <div class="dock-window">
    <p-button icon="pi pi-check" (click)="onToggleSidenav()" class="card md:hidden flex justify-content-center p-dock"
      styleClass="p-button-rounded">
    </p-button>

    <p-menu *ngIf="isMenuOpen" [model]="itemsSm"></p-menu>

    <p-dock class="hidden md:block" [model]="items" [position]="'top'">
      <ng-template pTemplate="item" let-item>
        <a [href]="item.url">
          <img [src]="item.icon" [alt]="item.label" width="100%" />
        </a>
      </ng-template>
    </p-dock>



    <div href="/" class="surface-section px-4 py-8 md:px-6 lg:px-8 transparent-background">
      <div class="text-700 text-center mt-6">
        <div class="text-blue-600 font-bold mb-3"><i class="pi"></i>&nbsp;ŠKOLA ANGULARU</div>
        <div class="text-900 font-bold text-5xl mb-3">Objevuj s námi svět webových aplikací</div>
        <div class="text-700 text-2xl mb-5 hidden md:block">
          Uvažuješ o změně kariéry? Dostal jsi skvělý nápad na appku a chceš vědět jak ji vytvořit?
          Nebo jsi jen zvídavá povaha co se chce naučit něco nového?
          Pokud je odpověď ano, pak jsi tady správně
        </div>
        <button pButton pRipple label="{{ 'BUTTON_TITLE' | transloco }}"
          class="font-bold px-5 py-3 p-button-raised p-button-rounded white-space-nowrap">
        </button>
      </div>
    </div>
  </div>
</div>




<!--
<p-toolbar>
  <div class="p-toolbar-group-start">
    <p-button label="New" icon="pi pi-plus" class="mr-2"></p-button>
    <p-button label="Upload" icon="pi pi-upload" styleClass="p-button-success" class="mr-2"></p-button>
    <p-splitButton label="Save" icon="pi pi-check" [model]="items!" styleClass="p-button-warning"
      class="mr-2"></p-splitButton>
  </div>
  <div class="p-toolbar-group-end">
    <div class="p-inputgroup">
      <input type="text" pInputText placeholder="Vyhledat..." />
      <button type="button" pButton icon="pi pi-search" styleClass="p-button-warn"></button>
    </div>
    <p-button label="Save" icon="pi pi-calendar" styleClass="mr-2"></p-button>
    <p-button label="Save" icon="pi pi-times"></p-button>
  </div>
</p-toolbar>
 -->