<h1>HTML Lesson</h1>

<div class="mt-4">
  <p-card header="Motivace">
    <div *ngFor="let motivation of motivations" class="mt-2">
      <p-panel [header]="motivation.title" [toggleable]="true" [collapsed]="motivation.close">
        <p>
          {{motivation.content}}
        </p>
      </p-panel>
    </div>
  </p-card>
</div>

<div class="mt-4">
  <p-card header="Teorie">
    <div *ngFor="let theo of theory; let isLast = last">
      <h3>{{theo.title}}</h3>
      <div class="flex flex-wrap justify-content-center">

        <div class="w-7">
          <p class="flex-1 flex align-items-center justify-content-center">
            {{theo.content}}
          </p>

        </div>

        <div class="w-5">
          <img *ngIf="theo.img" class="flex-1 flex align-items-center justify-content-center max-w-20rem m-auto"
            src="{{theo.img}}" alt="Obrazek se nenacetl prosim napiste do komentaru">
        </div>

        <div class="w-12">
          <p-messages *ngIf="theo.info" [(value)]="theo!.info" [enableService]="false" [closable]="false"></p-messages>
          <p-messages *ngIf="theo.warning" [(value)]="theo!.warning" [enableService]="false"
            [closable]="false"></p-messages>
        </div>

      </div>
      <p-divider *ngIf="!isLast"></p-divider>
    </div>
  </p-card>
</div>

<div class="mt-4">
  <p-card header="Otazky">
    <div *ngFor="let question of questions" class="mt-2">
      <p-panel [header]="question.title" [toggleable]="true" [collapsed]="question.close">
        <p>
          {{question.content}}
        </p>
      </p-panel>
    </div>
  </p-card>
</div>

<div class="mt-4">
  <p-card header="Zanech komentar k teto lekci">
    <p-editor [(ngModel)]="comment" [style]="{ height: '320px' }">
      <ng-template pTemplate="header">
        <span class="ql-formats">
          <button type="button" class="ql-bold" aria-label="Bold"></button>
          <button type="button" class="ql-italic" aria-label="Italic"></button>
          <button type="button" class="ql-underline" aria-label="Underline"></button>
        </span>
      </ng-template>
    </p-editor>
    <button pButton pRipple label="Submit" class="p-button-success mt-2"></button>
  </p-card>
</div>